.side_hits .swiper {
  height: auto;
  padding-bottom: 40px;
}

.side_hits .swiper-pagination-bullet {
  background-color: var(--main);
  opacity: 0.3;
}

.side_hits .swiper-pagination-bullet-active {
  background-color: var(--main);
  opacity: 1;
}
