.idea/
venv/
__pycache__/
config/__pycache__/
*/migrations/0*
.env
static/css/
staticfiles/
.DS_Store
output.pdf
templates/.DS_Store
dump/
output.txt
locale/
db.sqlite3
media/
dump.rdb
.idea/workspace.xml