.reviews .swiper {
  overflow: visible;
}

.reviews .swiper-pagination-bullet {
  opacity: 1;
  background-color: white;
}

.reviews .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--main);
}

.reviews::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.reviews {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.reviews .swiper-slide {
  height: auto;
}

.reviews .swiper {
  height: auto;
  padding-bottom: 50px;
}
